
<div class="ekart-product-item" >
    <div class="ekart-wishlist-sale-container">
        <div class="erkart-add-to-wishlist">
            <i class="fa-solid fa-heart"></i>
        </div>
        <!-- <div class="ekart-on-sale-tag"></div> -->
    </div>
    <div class="ekart-product-image">
        <img [src]="product.image" alt="">
    </div>
    <div class="ekart-add-to-price">
        ${{product.price}}
    </div>
    <div class="ekart-product-name">{{product.title}}</div>
    <div class="ekart-product-category">{{product.category}}</div>
    <div  class="ekart-product-available-stock">left :{{product.rating.count}}</div>
  </div>  