/* img{
    width: "130px";
    margin-top: 7px;
    height: 170px;
    margin-left: 8px;

}
.ekart--product--container{
    margin-left: 40px;
    margin-top: 25px;
    background-color: lightblue;
    width: 200px;
    height: 340px;
    justify-content: center;
    align-items: center;
    padding: 28px;
    border-radius: 10px
}

button{
    margin-left: 8px;
    padding: 2px;
}
span{
    margin-left: 4px;
} */